@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Pragati+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-pri: 'Pragati Narrow', sans-serif;
    --font-sec: 'Montserrat', sans-serif;
    --font-color: white;

    --font-bold: 700;
    --font-med: 500;
    --font-reg: 400;
}

body {
    padding-left: 2em;
    padding-right: 2em;
}

header {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;

    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.logo {
    display: flex;
    align-items: center;
}

.blink {
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 10px;
    width: .4em;
    height: .4em;

    margin-right: .25em;

    animation: blink 1s infinite;
}

@keyframes blink {
    0%    { opacity: 1; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
  }

h1, h3 {
    font-family: var(--font-pri);
    font-weight: var(--font-bold);
    text-transform: uppercase;

    mix-blend-mode: difference;
    color: var(--font-color);
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

a {
    font-family: var(--font-sec);
    font-weight: var(--font-med);
    font-size: 1.1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;

    padding-left: 3em;
    mix-blend-mode: difference;
    color: var(--font-color);
}

main {

}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 17vw;
    line-height: .8em;
    text-align: center;
}

h2 {
    font-family: var(--font-sec);
    font-weight: var(--font-med);
    font-size: clamp(1.3rem, 3.1vw, 3.1rem);

    mix-blend-mode: difference;
    color: var(--font-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;

    
}
