@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Work+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1-font: 'Bad Script', cursive;
    --h2-font: 'Work Sans', sans-serif;
}

main {
    position: relative;
    width: 100%; 
    min-height: 100vh;
    border: 10px solid green;
}  

header, footer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 0, 36);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--h1-font);
    margin-top: -5.5rem;
}

h2, h3 {
    font-family: var(--h2-font);
    color: #b7b7b9;
}

h2 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 400;
}

.neon {
    font-size: 10rem;
    text-align: center;
    letter-spacing: 7px;
    color: white;

    text-shadow: 
    0 0 5px #f0ef7d,
    0 0 10px #f0ef7d,
    0 0 20px #f2c403,
    0 0 40px #f2c403,
    0 0 80px #f2c403,
    0 0 90px #f2c403,
    0 0 100px #cb810c,
    0 0 150px #cb810c;
}

.neon span {
    animation: flicker 4000ms;
}

.neon .delay1 {
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes flicker {
    0% {opacity: 0;}
    2% {opacity: 1;}
    4% {opacity: 0;}
    8% {opacity: 1;}
    10% {opacity: 0;}
    12% {opacity: 1;}
    16% {opacity: 0;}
    20% {opacity: 1;}
}

.b-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;
}

.scroll-mouse {
    width: 32px;
    height: 56px;
    border: 2px solid #b7b7b9;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .mouse-point {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    background-color: #b7b7b9;
    animation: mousemove 2.5s infinite;
  }
  
  @keyframes mousemove {
    from {top: 10px;opacity:0;}
    to {top: 44px;opacity:1;}
  }

.p-container {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

ul {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.album {
    position: relative;
    height: 50%;
    width: 500px;
    outline: 2px solid blue;
    margin-right: 50px;
    flex-shrink: 0;
}