* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%; 
    min-height: 100vh;
    border: 10px solid green;
}  

header, footer {
    width: 100vw;
    height: 100vh;
    border: 10px solid red;
}

.p-container {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

ul {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.album {
    position: relative;
    height: 50%;
    width: 500px;
    outline: 2px solid blue;
    margin-right: 50px;
    flex-shrink: 0;
}