@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-pri: blue;
    --color-sec: pink;
    --color-acc: rgb(94, 255, 107);

    --font-header: 'Playfair Display', serif;
    --font-paragraph: 'DM Sans', sans-serif;
}

header {
    display: block;
    background: var(--color-pri);
    color: var(--color-sec);
}

.topnav {
    margin: auto;
    padding: 1rem;

    padding-top: 2rem;

    max-width: 90ch;
}

h1, h2, h3 {
    font-family: var(--font-header);
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
}

nav {
    display: block;
    margin-top: 1.5rem;
}

a {
    color: var(--color-acc);
    font-family: var(--font-paragraph);
    font-size: 1.3rem;
    font-weight: 600;

    padding-right: 1rem;
}

a:hover {
    color: var(--color-sec);
}

main {
    background: var(--color-sec);
}

.body {
    margin: auto;
    padding: 1rem;
    display: block;

    max-width: 90ch;
}

h1 {
    color: var(--color-pri);

    font-size: 2.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    color: var(--color-pri);

    font-family: var(--font-paragraph);
    font-size: 1.3rem;
    margin-top: .5rem;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h3 {
    color: var(--color-pri);
    font-size: 1.4rem;

}

.ftitle {
    color: var(--color-sec);
}

footer {
    color: var(--color-sec);
    background: var(--color-pri);

    display: block;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
